<table class="table">
    <thead>
        <tr>
            <th><i class="bi bi-person"></i></th>
            <th>Name</th>
            <th>Position</th>
            <th>Department</th>
            <th>Course</th>
            <th>Year</th>
            <th>Section</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let candidate of candidates">
            <td>
                <img [src]="candidate.photo || '/assets/avatar/face-7.jpg'" alt="" />
            </td>
            <td>{{ candidate.voter.name }}</td>
            <td class="text-success">{{ resolvePosition(candidate) }}</td>
            <td>{{ candidate.voter.department }}</td>
            <td>{{ candidate.voter.course }}</td>
            <td>{{ candidate.voter.year }}</td>
            <td>{{ candidate.voter.section }}</td>
            <td>
                <app-dropdown [buttons]="dropdown"></app-dropdown>
                <ng-template #dropdown>
                    <btn-modal (click)="setVoterId(candidate.voter.id)" size="xl" [title]="'Platform of ' + candidate.voter.name" btnTitle="View Platform" btnClass="dropdown-item" [template]="viewPlatform"></btn-modal>

                    <button (click)="remove(candidate.id)" class="dropdown-item">
						Remove Candidate
					</button>
                </ng-template>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #viewPlatform>
    <app-view-platform [voter_id]="voter_id"> </app-view-platform>
</ng-template>