<div class="card" [class.active]="active">
    <div class="relative">
        <div class="absolute" style="float: right">
            <span class="badge badge-success">{{ value }}</span>
        </div>
    </div>
    <div class="card-body d-flex aic">
        <img [src]="candidate.photo || '/assets/avatar/face-7.jpg'" alt="" />
        <div class="p-4">
            <h4 class="m-0" style="font-weight: 500">
                {{ candidate.voter.name }}
            </h4>
            <span class="badge" [class]="color">{{ candidate.position }}</span>
            <div class="others mt-2 text-muted">
                <div>Department: {{ candidate.voter.department }}</div>
                <div>Course: {{ candidate.voter.course }}</div>
                <div>Year: {{ candidate.voter.year }}</div>
                <div>Section: {{ candidate.voter.section }}</div>
            </div>
        </div>
    </div>
    <div class="card-header d-flex aic">
        <span (mouseenter)="fetchPartyList(candidate.partylist)" style="font-weight: 600; font-size: 1.3rem" [ngbPopover]="partylist.english_title || 'Loading..'" triggers="mouseenter:mouseleave" [popoverTitle]="partylist.filipino_title || 'Loading..'">
			{{ candidate.partylist }}</span
		>
		<div class="ml-auto">
			<btn-modal
				(click)="setVoterId(candidate.voter.id)"
				size="xl"
				[title]="'Platform of ' + candidate.voter.name"
				btnTitle="Platform"
				btnClass="btn ml-2 btn-outline-dark btn-sm"
				[template]="viewPlatform"
			></btn-modal>
		</div>
	</div>
</div>

<ng-template #viewPlatform>
	<app-view-platform [voter_id]="voter_id"> </app-view-platform>
</ng-template>