<div class="row">
    <div class="col-md-4 mb-3" style="position: relative">
        <img [src]="image" alt="" style="max-width: 20vh" />
        <input (change)="readURL($event)" accept="image/*" type="file" class="hidden" id="profile-picture" />
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-md-12 mb-3">
        <label for="">Name</label>
        <select (change)="handleSelectOnChange($event)" class="form-control">
			<option selected disabled>--Choose--</option>
			<option *ngFor="let voter of voters; let i = index" [value]="i">
				{{ voter.name }}
			</option>
		</select>
    </div>

    <div class="col-md-12 mb-3">
        <label for="">Postition</label>
        <select [(ngModel)]="data.position" class="form-control">
			<option selected disabled>--Choose--</option>
			<option *ngFor="let position of positions">
				{{ position }}
			</option>
		</select>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <button [disabled]="isLoading" (click)="save()" class="btn btn-dark w-100">
			<span *ngIf="!isLoading">
				<i class="bi bi-save"></i>
				Save
			</span>
			<app-button-loaders *ngIf="isLoading"></app-button-loaders>
		</button>
    </div>
</div>