img {
    border-radius: 5px;
    border-radius: 50%;
    border: 5px solid lightgray;
    margin-bottom: 2rem;
    height: 250px;
    width: 250px;
}

.description {
    line-height: 2rem;
    margin-bottom: 3rem;
}