<div class="row">
    <div class="col-md-12 mb-5">
        <label for="">Platform Title</label>
        <input [(ngModel)]="data.title" type="text" class="form-control" />
    </div>
    <div class="col-md-12 mb-5">
        <label for="">Platform Description</label>
        <textarea autosize [(ngModel)]="data.description" type="text" class="form-control"></textarea>
    </div>
    <div class="col-md-12 mb-5">
        <label for="">Link of your Facebook or Youtube video, etc.</label>
        <textarea autosize [(ngModel)]="data.video_link" type="text" class="form-control"></textarea>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-12">
        <button [disabled]="isLoading" (click)="save()" class="btn btn-dark w-100">
			<span *ngIf="!isLoading">
				<i class="bi bi-save"></i>
				Save
			</span>
			<app-button-loaders *ngIf="isLoading"></app-button-loaders>
		</button>
    </div>
</div>