<div class="card">
    <div class="card-header d-flex aic">
        Administrators
        <div class="ml-auto">
            <btn-modal size="lg" title="Add an Administrator" btnTitle="Add an admin" btnClass="btn btn-outline-dark btn-sm " [template]="addAdmin" icon="bi bi-plus"></btn-modal>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-responsive-sm table-hover">
            <thead>
                <tr class="thead-dark">
                    <th>
                        <i class="bi bi-person"></i>
                    </th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Created Last</th>
                    <th class="text-right"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let admin of admins">
                    <td class="text-center">
                        <i class="bi bi-person h1 text-info"></i>
                    </td>
                    <td>
                        <div>{{ admin.name }}</div>
                    </td>
                    <td>
                        <span class="badge badge-danger">{{
							admin.position
						}}</span>
                    </td>
                    <td>July 20 2021 4PM</td>
                    <td class="text-right">
                        <button (click)="remove(admin.id)" class="btn btn-danger btn-sm">
							Remove Administrator
						</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #addAdmin>
    <app-add-admin></app-add-admin>
</ng-template>