<ng-template #addPartylist>
    <app-add-party-list></app-add-party-list>
</ng-template>
<ng-template #viewMembers>
    <app-view-member></app-view-member>
</ng-template>
<ng-template #addMember>
    <app-add-member></app-add-member>
</ng-template>

<div class="card">
    <div class="card-header d-flex aic">
        Partylists

        <div class="ml-auto">
            <btn-modal size="lg" title="Add a Partylist" btnTitle="Add partylist" btnClass="btn btn-outline-dark btn-sm " [template]="addPartylist" icon="bi bi-plus"></btn-modal>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="ml-auto m-0">
                    <mat-label> Partylist</mat-label>
                    <mat-select>
                        <mat-option> All </mat-option>
                        <mat-option *ngFor="let item of [1, 2, 3, 4, 5]">
                            MAKAMASA
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <table class="
				table table-responsive-sm table-hover table-outline
				mb-0
				bg-white
			">
            <thead>
                <tr class="thead-dark">
                    <th>Title</th>
                    <th>Description</th>
                    <th class="text-right"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of [1, 2, 3, 4, 5]">
                    <td>
                        <h4 class="badge badge-danger">MAKAMASA</h4>
                    </td>
                    <td>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam minima magnam ipsum rerum veritatis eaque, architecto voluptate reprehenderit dolores saepe, ab minus corporis cum dolorum perspiciatis molestiae. Delectus, corporis cum.
                    </td>
                    <td class="text-right">
                        <app-dropdown [buttons]="dropdown"></app-dropdown>
                        <ng-template #dropdown>
                            <button class="dropdown-item">
								Remove partylist
							</button>
                            <btn-modal size="lg" title="Members" btnTitle="Members" btnClass="dropdown-item" [template]="viewMembers"></btn-modal>
                            <btn-modal size="lg" title="Add a member" btnTitle="Add a Member" btnClass="dropdown-item" [template]="addMember"></btn-modal>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>