<ng-template #addPartylist>
    <app-add-party-list></app-add-party-list>
</ng-template>
<ng-template #viewMembers>
    <app-view-member></app-view-member>
</ng-template>
<ng-template #addMember>
    <app-add-member [partylist]="partylist"></app-add-member>
</ng-template>

<div class="card" style="min-height: 50vh">
    <div class="card-header d-flex aic">
        Partylists

        <div class="ml-auto">
            <btn-modal size="lg" title="Add a Partylist" btnTitle="Add partylist" btnClass="btn btn-outline-dark btn-sm " [template]="addPartylist" icon="bi bi-plus"></btn-modal>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-outline mb-0 bg-white">
            <thead>
                <tr class="thead-dark">
                    <th>Title</th>
                    <th>Description</th>
                    <th class="text-right"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of partylists">
                    <td>
                        <h4 class="badge badge-danger">{{ item.title }}</h4>
                    </td>
                    <td>
                        {{ item.description }}
                    </td>
                    <td class="text-right">
                        <app-dropdown [buttons]="dropdown"></app-dropdown>
                        <ng-template #dropdown>
                            <button (click)="remove(item.id)" class="dropdown-item">
								Remove partylist
							</button>
                            <btn-modal (click)="setPartylist(item.title)" size="lg" title="Members" btnTitle="Members" btnClass="dropdown-item" [template]="viewMembers"></btn-modal>
                            <btn-modal (click)="setPartylist(item.title)" size="lg" [title]="'Add a member to ' + item.title" btnTitle="Add a Member" btnClass="dropdown-item" [template]="addMember"></btn-modal>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>