<div class="row">
    <div class="col-md-3">
        <app-summary-card class="bg-warning" [value]="partylists" title="Political Parties"></app-summary-card>
    </div>

    <div class="col-md-3">
        <app-summary-card class="bg-success" [value]="candidates" title="Total Candidates"></app-summary-card>
    </div>

    <div class="col-md-3">
        <app-summary-card class="bg-primary" [value]="voters" title="Registered Voters"></app-summary-card>
    </div>

    <div class="col-md-3">
        <app-summary-card class="bg-danger" [value]="voted" title="Voted"></app-summary-card>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6 mb-3" *ngFor="let partylist of partylists_data">
        <app-table [header]="partylist.acronym" [voters]="voters"></app-table>
    </div>
</div>