<div *ngIf="hasVoted && !isLoading" class="d-flex aic jcc">
    <div class="alert alert-success">
        You have already Submitted your votes. We are processing your votes and we will announce the election results soon!
    </div>
</div>
<app-spinner *ngIf="isLoading"></app-spinner>
<div *ngIf="!hasVoted && !isLoading" class="p-5">
    <h1 style="font-size: 3rem; font-weight: bold" class="text-center m-5">
        Select Your Line-up!
    </h1>
    <div class="row mb-5" *ngIf="presidents.length !== 0">
        <div class="col-md-12">
            <h1 class="text-primary">Presidential Candidates</h1>
        </div>
        <div class="col-md-4 mb-3" *ngFor="let candidate of presidents; let i = index">
            <app-candidate-card [active]="voteIds[candidate.voter.name]" (click)="vote(candidate)" color="badge-success" [candidate]="candidate"></app-candidate-card>
        </div>
    </div>
    <div class="row mb-5" *ngIf="vps.length !== 0">
        <div class="col-md-12">
            <h1 class="text-primary">Vice Presidential Candidates</h1>
        </div>
        <div class="col-md-4 mb-3" *ngFor="let candidate of vps; let i = index">
            <app-candidate-card [active]="voteIds[candidate.voter.name]" (click)="vote(candidate)" color="badge-success" [candidate]="candidate"></app-candidate-card>
        </div>
    </div>
    <div class="row mb-5" *ngIf="senators.length !== 0">
        <div class="col-md-12">
            <h1 class="text-primary">Senatorial Candidates</h1>
        </div>
        <div class="col-md-12 row" *ngFor="let items of senators; let i = index">
            <div class="col-md-3 mb-3" *ngFor="let candidate of items">
                <app-candidate-card [active]="voteIds[candidate.voter.name]" (click)="vote(candidate)" color="badge-success" [candidate]="candidate"></app-candidate-card>
            </div>
        </div>
    </div>

    <div class="row mb-5" *ngIf="govs.length !== 0">
        <div class="col-md-12">
            <h1 class="text-primary">Candidates for Governor</h1>
        </div>
        <div class="col-md-12 row" *ngFor="let items of govs; let i = index">
            <div class="col-md-3 mb-3" *ngFor="let candidate of items">
                <app-candidate-card [active]="voteIds[candidate.voter.name]" (click)="vote(candidate)" color="badge-success" [candidate]="candidate"></app-candidate-card>
            </div>
        </div>
    </div>

    <div class="row mb-5" *ngIf="reps.length !== 0">
        <div class="col-md-12">
            <h1 class="text-primary">Candidates for Representatives</h1>
        </div>
        <div class="col-md-12 row" *ngFor="let items of reps; let i = index">
            <div class="col-md-3 mb-3" *ngFor="let candidate of items">
                <app-candidate-card [active]="voteIds[candidate.voter.name]" (click)="vote(candidate)" color="badge-success" [candidate]="candidate"></app-candidate-card>
            </div>
        </div>
    </div>

    <div class="row mb-5" *ngIf="mayors.length !== 0">
        <div class="col-md-12">
            <h1 class="text-primary">Candidates for Mayors</h1>
        </div>
        <div class="col-md-12 row" *ngFor="let items of mayors; let i = index">
            <div class="col-md-3 mb-3" *ngFor="let candidate of items">
                <app-candidate-card [active]="voteIds[candidate.voter.name]" (click)="vote(candidate)" color="badge-success" [candidate]="candidate"></app-candidate-card>
            </div>
        </div>
    </div>

    <div class="row d-flex aic jcc">
        <button (click)="submitVote()" class="btn btn-lg btn-warning">
			Submit Vote
		</button>
    </div>
</div>