<nav class="nav navbar pl-5" style="position: fixed">
    <img style="height: 130px" class="logo" src="../../../../assets/logo/cssc.png" alt="" />
</nav>

<div class="d-flex aic jcc w-100 h-100" style="flex-direction: column">
    <img style="max-height: 50vh" src="../../../assets/pages/not-authorized.png" alt="" />
    <h1 class="mt-5">Oops!</h1>
    <p>You have no access rights to view this Content.</p>
    <button routerLink="/" class="btn btn-lg btn-primary mt-5">
		Re Log-in
	</button>
</div>