<div class="row">
    <div class="col-md-12 mb-3">
        <label for="">Partylist Name</label>
        <input [(ngModel)]="data.title" type="email" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="">Platform</label>
        <textarea autosize [(ngModel)]="data.description" class="form-control"></textarea>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-12">
        <button [disabled]="isLoading" (click)="save()" class="btn btn-dark w-100">
			<span *ngIf="!isLoading">
				<i class="bi bi-save"></i>
				Save
			</span>
			<app-button-loaders *ngIf="isLoading"></app-button-loaders>
		</button>
    </div>
</div>