<ng-template #addVoter>
    <app-add-voter></app-add-voter>
</ng-template>
<div class="card">
    <div class="card-header d-flex aic">
        Voters

        <div class="ml-auto">
            <btn-modal size="lg" title="Add a Voter" btnTitle="Add voter" btnClass="btn btn-outline-dark btn-sm " [template]="addVoter" icon="bi bi-plus"></btn-modal>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field class="ml-auto m-0">
                    <mat-label> Department</mat-label>
                    <mat-select (selectionChange)="changeHandler()" [(ngModel)]="filters.department">
                        <mat-option value="All"> All </mat-option>
                        <mat-option *ngFor="let item of departments" [value]="item">
                            {{ item }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="ml-auto m-0">
                    <mat-label> Course</mat-label>
                    <mat-select (selectionChange)="changeHandler()" [(ngModel)]="filters.course">
                        <mat-option value="All"> All </mat-option>
                        <mat-option *ngFor="let item of courses" [value]="item">
                            {{ item }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="ml-auto m-0">
                    <mat-label> Year</mat-label>
                    <mat-select (selectionChange)="changeHandler()" [(ngModel)]="filters.year">
                        <mat-option value="All"> All </mat-option>
                        <mat-option *ngFor="let item of years" [value]="item">
                            {{ item }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="ml-auto m-0">
                    <mat-label> Section </mat-label>
                    <mat-select (selectionChange)="changeHandler()" [(ngModel)]="filters.section">
                        <mat-option value="All"> All </mat-option>
                        <mat-option *ngFor="let item of sections" [value]="item">
                            {{ item }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <table class="
				table table-responsive-sm table-hover table-outline
				mb-0
				bg-white
			">
            <thead>
                <tr class="thead-dark">
                    <th>
                        <i class="bi bi-person"></i>
                    </th>
                    <th>ID Number</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Course</th>
                    <th>Year</th>
                    <th>Section</th>
                    <th class="text-right"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let voter of voters">
                    <td class="text-center">
                        <i class="bi bi-person h1 text-danger"></i>
                    </td>
                    <td>{{ voter.id_number }}</td>
                    <td>{{ voter.name }}</td>
                    <td>{{ voter.department }}</td>
                    <td>{{ voter.course }}</td>
                    <td>{{ voter.year }}</td>
                    <td>{{ voter.section }}</td>

                    <td class="text-right">
                        <button (click)="remove(voter.id)" class="btn btn-danger btn-sm">
							Remove Voter
						</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>