<div class="row">
    <div class="col-md-12 mb-3">
        <label for="">E-mail</label>
        <input (keyup.enter)="login()" [(ngModel)]="data.email" type="text" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="">Password</label>
        <input (keyup.enter)="login()" [(ngModel)]="data.password" type="password" class="form-control" />
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-12">
        <button [disabled]="isLoading" (click)="login()" class="btn btn-success w-100">
			<span *ngIf="!isLoading">
				<i class="bi bi-box-arrow-in-right mr-2"></i>
				Log-In
			</span>
			<app-button-loaders *ngIf="isLoading"></app-button-loaders>
		</button>
    </div>
</div>