<div class="component">
    <nav class="nav navbar pl-5">
        <img style="height: 30px" class="logo" src="../../../../assets/logo/bn.png" alt="" />
        <btn-modal size="lg" title="Login as Administrator" btnTitle="Login as Administrator" btnClass="btn-primary btn BTN-SM" [template]="loginAsAdmin" icon="bi bi-box-arrow-in-right"></btn-modal>
    </nav>

    <div class="row">
        <div class="col-md-6 pt-0">
            <h1 class="p-5 m-0">
                <span class="text-warning"> Anwser </span> the call of time!
                <br />
                <span class="text-warning"> Exercise </span> your right to
                <div>
                    <div class="bg-warning pr-2">Vote!</div>
                </div>
                <p class="h6 mt-2" style="font-weight: 400">
                    Your vote matters!
                    <span class="text-warning">
						College Supreme Student Council
					</span>
                </p>
            </h1>
            <div class="p-5">
                <div style="float: right">
                    <btn-modal size="lg" title="Login as Voter" btnTitle="Vote Now!" btnClass="landing btn btn-warning btn-lg  " [template]="voterLogin"></btn-modal>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-5">
            <img class="logo" src="../../../../assets/landing/bg1.png" alt="" />
        </div>
    </div>

    <ng-template #loginAsAdmin>
        <app-admin-log-in></app-admin-log-in>
    </ng-template>
    <ng-template #voterLogin>
        <app-voter-login></app-voter-login>
    </ng-template>
</div>