<div class="card">
    <div class="card-header text-white bg-dark">{{ header }}</div>
    <div class="card-body">
        <table class="table table-responsive-sm table-hover table-outline mb-0 bg-white">
            <thead class="bg-white">
                <tr>
                    <th>
                        <i class="icon-people"></i>
                    </th>
                    <th>Candidate</th>
                    <th class="text-center">Department</th>
                    <th class="text-center">Votes</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let candidate of candidates">
                    <td class="text-center">
                        <div class="avatar">
                            <img src="../../../../assets/avatar/face-7.jpg" class="img-avatar" />
                            <span class="avatar-status badge-dark"></span>
                        </div>
                    </td>
                    <td>
                        <div>{{ candidate.voter.name }}</div>
                        <span class="badge badge-danger">{{ candidate.position }}</span>
                    </td>
                    <td class="text-center">{{ candidate.voter.department }}</td>
                    <td class="text-center text-info">{{ candidate.votes }}</td>
                    <td>
                        <div class="clearfix">
                            <div class="float-left">{{ percentOf(candidate.votes, voters) }}%</div>
                        </div>
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-success" role="progressbar " [style.width]="percentOf(candidate.votes, voters) + '%'" aria-valuenow="30 " aria-valuemin="0 " aria-valuemax="100 "></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>